# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

build/_compileJava_2/
build/_compileJava_4/
build/_compileJava_7/
build/_atJar_5/
build/_applyBinpatches_2/
build/_renameJarInPlace_6/
build/classes/
build/createMcpToSrg/
build/createSrgToMcp/
build/downloadMCMeta/
build/downloadMcpConfig/
build/extractSrg/
build/natives/
build/reobfJar/
build/tmp/

build/
